// soumya start
div.container1 {
    width: 1860px;
    height: 854px;
    position: relative;
    top: 30px;
    left: 30px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    background-image: url(./assets/Headerbackground.svg);
    margin: auto;

    >div.header {
        width: 1920px;
        height: 89px;
        top: 30px;
        padding: 0px 300px 1px 300px;
        gap: 0px;
        border: 0px 0px 1px 0px;
        opacity: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        >div.header-container {
            width: 1320px;
            height: 88px;
            left: 300px;
            padding: 21.94px 15px 21.94px 15px;
            gap: 0px;
            opacity: 0px;
            display: flex;
            justify-content: space-between;

            >div.logo-section {
                width: 808.84px;
                height: 44.12px;
                top: 21.94px;
                left: 15px;
                gap: 0px;
                opacity: 0px;
                display: flex;
                justify-content: center;

                >div.logo {
                    width: 167px;
                    height: 32px;
                    top: 6.06px;
                    gap: 0px;
                    opacity: 0px;
                }

                >div.nav-text {
                    width: 641.84px;
                    height: 44.12px;
                    left: 167px;
                    gap: 0px;
                    opacity: 0px;
                    display: flex;
                    justify-content: space-between;

                    >div:nth-of-type(1) {
                        width: 41.39px;
                        height: 24px;
                        position: relative;
                        top: 8px;
                        left: 50px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.77px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: rgba(235, 102, 43, 1);

                    }

                    >div:nth-of-type(2) {
                        width: 30.57px;
                        height: 24px;
                        position: relative;
                        top: 8px;
                        left: 59px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.41px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: rgba(255, 255, 255, 1);

                    }

                    >div:nth-of-type(3) {
                        width: 79.38px;
                        height: 24px;
                        position: relative;
                        top: 8px;
                        left: 40px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.77px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: white;
                    }

                    >div:nth-of-type(4) {
                        width: 64.77px;
                        height: 24px;
                        top: 8px;
                        left: 39.7px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.88px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: white;
                        position: relative;
                    }

                    >div:nth-of-type(5) {
                        width: 41.04px;
                        height: 24px;
                        top: 8px;
                        left: 39.68px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.06px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: white;
                        position: relative;
                    }

                    >div:nth-of-type(6) {
                        width: 56.9px;
                        height: 24px;
                        top: 8px;
                        left: 39.8px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: white;
                        position: relative;
                    }

                }

            }

            >div.header-right {
                width: 328.44px;
                height: 44px;
                top: 22px;
                left: 976.56px;
                gap: 0px;
                opacity: 0px;
                display: flex;
                justify-content: center;

                >div.usd {
                    width: 91.86px;
                    height: 42.12px;
                    top: 0.94px;
                    padding: 11px 19.8px 11.12px 20px;
                    gap: 0px;
                    border-radius: 200px 0px 0px 0px;
                    opacity: 0px;

                    >div:nth-of-type(1) {
                        width: 29.06px;
                        height: 20px;
                        top: 11px;
                        left: 20px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 13.83px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                        color: white;

                    }

                }

                >div:nth-of-type(2) {
                    width: 51.63px;
                    height: 24px;
                    top: 7.94px;
                    left: -30px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: "Inter", sans-serif;
                    font-size: 14.53px;
                    font-weight: 400;
                    line-height: 28.13px;
                    text-align: left;
                    color: white;
                    position: relative;
                }

                >div:nth-of-type(3) {
                    width: 18px;
                    height: 18px;
                    top: 1px;
                    margin-left: 10px;
                    padding: 12px 11.8px 12px 12px;
                    gap: 0px;
                    border-radius: 200px;
                    border: 1px 0px 0px 0px;
                    opacity: 0px;
                    border: 1px solid rgba(255, 255, 255, 1)
                }

                >button {
                    width: 83.31px;
                    height: 44px;
                    position: relative;
                    left: 0px;
                    padding: 12px 20.8px 12px 21px;
                    gap: 0px;
                    border-radius: 200px;
                    border: 1px 0px 0px 0px;
                    opacity: 0px;
                    border: 1px solid rgba(255, 255, 255, 1)
                }

            }

        }
    }

    div.direction>img {
        width: 409.98px;
        height: 166.05px;
        position: absolute;
        top: 378.97px;
        left: 1195.02px;
        gap: 0px;
        opacity: 0px;

    }

    div.main-content {
        width: 769.98px;
        height: 340px;
        position: relative;
        top: 272px;
        left: 300px;
        gap: 0px;
        opacity: 0px;

        >div:nth-of-type(1) {
            width: 135.97px;
            height: 33.75px;
            left: 15px;
            gap: 0px;
            opacity: 0px;
            font-family: "Inter", sans-serif;
            font-size: 17.44px;
            font-weight: 500;
            line-height: 33.75px;
            text-align: left;
            color: rgba(255, 255, 255, 1);

        }

        >div:nth-of-type(2) {
            width: 663.61px;
            height: 175px;
            top: 39.75px;
            left: 15px;
            gap: 0px;
            opacity: 0px;
            font-family: "Inter", sans-serif;
            font-size: 70px;
            font-weight: 600;
            line-height: 84px;
            text-align: left;
            color: rgba(255, 255, 255, 1);

        }

        >div:nth-of-type(3) {
            width: 425.75px;
            height: 48.13px;
            top: 225.75px;
            left: 15px;
            gap: 0px;
            opacity: 0px;
            font-family: "Inter", sans-serif;
            font-size: 14.65px;
            font-weight: 400;
            line-height: 28.13px;
            text-align: left;
            color: white;
        }

        >div:nth-of-type(4) {
            width: 165.66px;
            height: 62px;
            top: 278px;
            left: 15px;
            padding: 21px 35.8px 21px 36px;
            gap: 0px;

            border: 1px 0px 0px 0px;
            opacity: 0px;


            >div:nth-of-type(1) {
                font-family: "Inter", sans-serif;
                font-size: 14.3px;
                font-weight: 500;
                line-height: 28px;
                text-align: center;
                width: 68.86px;
                height: 20px;
                top: 21px;
                left: 36px;
                gap: 0px;
                opacity: 0px;
                color: white;
                border: 1px solid rgba(255, 255, 255, 1);
                padding: 21px 35.8px 21px 36px;
                border-radius: 12px;
            }

        }
    }

}

//  soumya end

//  ikbal start
.container-ik{
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 659px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-sizing: border-box;
  padding: 115px 254px 100px 300px;

.trending-destinations{
  font-family: Inter;
  width: 1320px;
  height: 444px;
  gap: 0px;

 .the-tours {
  display: flex;
   flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.each-box {
  display: flex;
  align-items: center;
  border: 1px solid #e7e6e6;
  border-radius: 20px;
  width: 300px;
  height: 152px;
  // background-color: yellow;
   

  .tour-text {
      margin-left: 0px;
    }
    .tour-pic {
      padding: 21px;
      padding-right: 20px;
    }
}


h4 {
  margin-bottom: 0px;
}
p{
  margin-top: 6px;
  font-weight: 400;
  font-size: 14.3px;
  line-height: 28.13px;
  
}
.text-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
    >p{
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-right: 20px;
    }
    >h2{
      margin-bottom: 40px;
      padding-bottom: 0px;
      color: #05073C;
    }
}

}
}
//  ikbal end

// everus start
div.section3-container {
    max-width: 1920px;
    // height: 7270.44px;
    gap: 0px;
    opacity: 0px;
    margin: auto;

    >div#featured-trips {
        width: 1730px;
        height: 652px;
        gap: 0px;
        opacity: 0px;
        margin-left: 83px;
        margin-right: 92px;
        position: relative;
        top: 0px;

        >div#heading {
            width: 212.4px;
            height: 45px;
            padding-top: 5px;
            padding-left: 15px;
            gap: 0px;
            opacity: 0px;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
            color: #05073C;
        }

        >div#pics {
            width: 1745px;
            height: 450px;
            margin-top: 40px;
            margin-left: 15px;
            display: flex;
            gap: 30px;

            >div {
                width: 410px;
                height: 450px;
                border-radius: 12px 12px 12px 12px;
                position: relative;
                top: 0px;

            }

            >div:nth-of-type(1) {
                background-image: url(./assets/ft1.png);
            }

            >div:nth-of-type(2) {
                background-image: url(./assets/ft2.png);
            }

            >div:nth-of-type(3) {
                background-image: url(./assets/ft3.png);
            }

            >div:nth-of-type(4) {
                background-image: url(./assets/ft4.png);
            }

            >div>div:nth-of-type(1) {
                width: 39.97px;
                height: 24.38px;
                margin-top: 35.31px;
                margin-left: 51px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 12.59px;
                font-weight: 400;
                line-height: 24.38px;
                text-align: left;
                color: #FFFFFF;
            }

            >div>div:nth-of-type(2) {
                width: 90px;
                height: 24.38px;
                margin-top: 247.56px;
                margin-left: 51px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 12.29px;
                font-weight: 400;
                line-height: 24.38px;
                text-align: left;
                color: #FFFFFF;
            }

            >div>div:nth-of-type(3) {
                width: 280.56px;
                height: 51px;
                margin-top: 6px;
                margin-left: 30px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 17.86px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                color: #FFFFFF;
            }

            >div>div:nth-of-type(4) {
                width: 54.59px;
                height: 17px;
                margin-top: 10px;
                margin-left: 125px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 12.49px;
                font-weight: 400;
                line-height: 24.38px;
                text-align: left;
                color: #FFFFFF;
            }

            >div>div:nth-of-type(5) {
                width: 31.01px;
                height: 17px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 12.9px;
                font-weight: 400;
                line-height: 18.2px;
                text-align: right;
                color: #FFFFFF;
                position: absolute;
                top: 368.06px;
                right: 29.8px;
            }

            >div>div:nth-of-type(6) {
                width: 63.37px;
                height: 24px;
                gap: 0px;
                opacity: 0px;
                font-family: Inter;
                font-size: 16.31px;
                font-weight: 500;
                line-height: 33.75px;
                text-align: right;
                color: #FFFFFF;
                position: absolute;
                top: 390.25px;
                right: 29.8px;
            }
        }

        >div.e_circle1 {
            width: 72px;
            height: 72px;
            top: 580px;
            left: 15px;
            gap: 0px;
            border-radius: 72px 72px 72px 72px;
            border: 1px 1px 1px 1px;
            opacity: 0px;
            color: #FFFFFF;
            border: 1px solid #E7E6E6;
            position: absolute;
        }

        >div.e_circle2 {
            width: 72px;
            height: 72px;
            top: 580px;
            left: 97px;
            gap: 0px;
            border-radius: 72px 72px 72px 72px;
            border: 1px 1px 1px 1px;
            opacity: 0px;
            color: #FFFFFF;
            border: 1px solid #E7E6E6;
            position: absolute;
        }
    }

    >div#space {
        height: 330px;
    }

    >div#why {
        width: 267.33px;
        height: 45px;
        margin-left: 905px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 29.3px;
        font-weight: 700;
        line-height: 45px;
        text-align: center;
        color: #05073C;
    }

    >div#viewed {
        width: 317.18px;
        height: 28.13px;
        top: 2570px;
        margin-left: 883px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 14.77px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: center;
        color: #05073C;
        // border: 1px solid black;
    }

    >div#why_grid {
        height: 263.25px;
        padding-top: 60px;
        padding-left: 328px;
        padding-right: 326.03px;
        display: flex;
        gap: 115px;

        >div {
            width: 336.66px;
            height: 263.25px;
            border-radius: 24px 24px 24px 24px;
            box-shadow: 0px 10px 40px 0px #0000000D;
            display: flex;
            flex-direction: column;

            >span {
                width: 55.03px;
                height: 37.52px;
                margin-top: 51.48px;
                margin-left: 42.59px;
            }

            >p:nth-of-type(1) {
                font-family: Inter;
                font-size: 17.72px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                color: #05073C;
                margin-top: 41px;
                margin-left: 40px;

            }

            >p:nth-of-type(2) {
                font-family: Inter;
                font-size: 14.65px;
                font-weight: 400;
                line-height: 28.13px;
                text-align: left;
                color: #05073C;
                margin-top: 14px;
                margin-left: 40px;
            }

        }
    }

}


//  everus end

//  neelesh start
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$max-width: 1320px;
$zero-margin: 0px;
$flex: flex;
$center: center;
$card-width: 190px;
$card-height: 220px;
$border-rad: 12px;
.container {
  max-width: $max-width;
  width: 100%;
  margin: auto;
  height: 330px;

  padding-inline: 15px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: "Inter", sans-serif;
}

body {
  margin: $zero-margin;
  padding: 0px;
  box-sizing: border-box;
}

div.flexbox > h2 {
  margin: 0px;
  font-size: 29px;
  font-size: 29.88px;
  font-weight: 700;
  line-height: 45px;
  color: rgba(5, 7, 60, 1);
}
div.flexbox > p {
  margin: $zero-margin;
  padding-top: 16px;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  color: rgba(5, 7, 60, 1);
}

.flexbox {
  display: $flex;
  justify-content: space-between;
  align-items: $center;
  margin-bottom: 45px;
}
.flexbox1 {
  display: $flex;
  gap: 30px;
}
.group {
  width: $card-width;
  height: $card-height;
  border-radius: $border-rad;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div.group:nth-of-type(1) h4 {
  text-align: center;
  font-size: 17.58px;
  font-weight: 500;
  line-height: 27px;
  margin: 0px;
  color: rgba(255, 255, 255, 1);
  padding-top: 146px;
}
div.group p {
  font-size: 13.23px;
  font-weight: 400;
  line-height: 26.25px;
  margin: 0px;
  color: rgba(255, 255, 255, 1);
  margin: auto;
  line-height: 26.25px;
  text-align: center;
}
div.group:nth-of-type(2) h4 {
  text-align: center;
  margin: 0px;
  font-size: 17.58px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  padding-top: 146px;
}
div.group:nth-of-type(3) h4 {
  padding-top: 146.73px;
  margin: 0px;
  font-size: 17.58px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
div.group:nth-of-type(4) h4 {
  padding-top: 146.73px;
  margin: 0px;
  font-size: 17.16px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
div.group:nth-of-type(5) h4 {
  text-align: center;
  padding-top: 146.73px;
  margin: 0px;
  font-size: 17.44px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
}
div.group:nth-of-type(6) h4 {
  text-align: center;
  padding-top: 146.73px;
  margin: 0px;
  font-size: 17.44px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
}
div.flexbox1 > div:nth-of-type(1) {
  background-image: url(./images/citytours.png);
}
div.flexbox1 > div:nth-of-type(2) {
  background-image: url(./images/culturaltours.png);
}
div.flexbox1 > div:nth-of-type(3) {
  background-image: url(./images/daycruises.png);
}
div.flexbox1 > div:nth-of-type(4) {
  background-image: url(./images/bustours.png);
}
div.flexbox1 > div:nth-of-type(5) {
  background-image: url(./images/beachtours.png);
}
div.flexbox1 > div:nth-of-type(6) {
  background-image: url(./images/foodtours.png);
}
.big-container {
  max-width: 1860px;
  height: 594px;
  width: 100%;
  margin: auto;

  background-color: #fef7f4;

  padding: 120px 270px;
  box-sizing: border-box;
  margin-top: 105px;
  font-family: "Inter", sans-serif;
  margin-bottom: 115px;
}
.container-1 {
  max-width: $max-width;
  width: 100%;
  margin: auto;

  height: 354px;
  padding: 0px;
}
div.container-1 > h2 {
  text-align: center;
  gap: 0px;
  opacity: 0px;
  color: rgba(5, 7, 60, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin: 0px;
}
div.container-1 > div:nth-of-type(1) {
  padding-top: 90px;
  padding-inline: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.container-1 > h3:nth-of-type(1) {
  width: 107.92px;
  height: 56px;
  margin: 0px;
  padding-left: 111.14px;
  font-size: 37.66px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  padding-top: 30px;
}
div.container-1 > p:nth-of-type(1) {
  width: 107.53px;
  height: 22.5px;
  padding-left: 111.33px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
  margin: 0px;
}
div.container-1 > div:nth-of-type(2) {
  display: flex;
  padding-top: 30px;
  padding-left: 111.14px;
  padding-right: 122.38px;
  justify-content: space-between;
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(1) > h3 {
  font-size: 38.13px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
  margin: 0px;
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(1) > p {
  margin: 0px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 22.5px;
  color: rgba(5, 7, 60, 1);
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(2) > h3 {
  margin: 0px;
  font-size: 38.13px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(2) > p {
  font-size: 14.65px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
  margin: 0px;
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(3) > h3 {
  margin: 0px;
  font-size: 37.34px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(3) > p {
  margin: 0px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(4) > h3 {
  margin: 0px;
  font-size: 38.28px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
}
div.container-1 > div:nth-of-type(2) > div:nth-of-type(4) > p {
  margin: 0px;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: rgba(5, 7, 60, 1);
}
div.container2 {
  max-width: $max-width;

  height: 527px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding-inline: 15px;
  font-family: "Inter", sans-serif;
}
div.container2 > div:nth-of-type(1) {
  display: $flex;
  align-items: center;
  gap: 7.8px;
}
div.container2 > div:nth-of-type(1) > h2 {
  margin: 0px;
}
div.container2 > div:nth-of-type(1) > h2:nth-of-type(1) {
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  color: rgba(5, 7, 60, 1);
  padding-top: 5px;
}
div.container2 > div:nth-of-type(1) > h2:nth-of-type(2) {
  width: 135.51px;
  height: 39px;
  font-size: 29.18px;
  font-weight: 700;
  line-height: 45px;
  color: rgba(198, 198, 210, 1);
}
div.flexbox3 {
  display: flex;
  gap: 30px;
}
div.flexbox3 > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 11px;
}
div.flexbox3 > div:nth-of-type(1) {
  width: 300px;
  height: 392.59px;
  border-radius: 12px 12px 0px 0px;
}
div.flexbox3 > div:nth-of-type(2) {
  width: 300px;
  height: 392.59px;
  border-radius: 12px 12px 0px 0px;
}
div.flexbox3 > div:nth-of-type(3) {
  width: 300px;
  height: 392.59px;
  border-radius: 12px 12px 0px 0px;
}
div.flexbox3 > div:nth-of-type(4) {
  width: 300px;
  height: 416.59px;
  border-radius: 12px 12px 0px 0px;
}
div.flexbox3 button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: relative;
  bottom: 195.84px;
  left: 254px;
}
div.flexbox3 img {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}
div.flexbox3 > div > p:nth-of-type(1) {
  padding-left: 42px;
  padding-top: 10px;
  font-family: Inter;
  font-size: 11.98px;
  font-weight: 400;
  line-height: 24.38px;
  color: rgba(113, 113, 113, 1);
  margin: 0px;
  margin-bottom: 6px;
}
div.flexbox3 h3 {
  width: 220.37px;
  height: 45px;
  margin: 0px;
  padding-left: 21px;
  font-size: 15.63px;
  font-weight: 500;
  line-height: 24px;
}
div.flexbox3 > div > p:nth-of-type(2) {
  padding-left: 101px;
  width: 54.59px;
  height: 17px;
  margin-top: 10px;
  margin-bottom: 14.37px;
  font-size: 12.49px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div > div {
  display: flex;
  margin-left: 21px;
  margin-right: 21px;
  width: 258px;
  height: 41px;
  justify-content: space-between;
  border-top: 1px solid rgba(231, 230, 230, 1);
}
div.flexbox3 > div > div > p:nth-of-type(1) {
  width: 39.97px;
  height: 17px;
  font-size: 12.59px;
  font-weight: 400;
  line-height: 24.38px;
  color: rgba(5, 7, 60, 1);
  padding-top: 16px;
  padding-left: 21px;
}
div.flexbox3 > div > div > div > p:nth-of-type(1) {
  width: 34.48px;
  height: 17px;
  padding-top: 7px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24.38px;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div > div > div > p:nth-of-type(2) {
  width: 37.87px;
  height: 21px;
  font-size: 15.13px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div > div > div {
  display: flex;
  padding-top: 11px;
}
div.flexbox3 > div:nth-of-type(2) > h3 {
  width: 252.48px;
  height: 45px;
  font-size: 15.63px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div:nth-of-type(3) > h3 {
  width: 223.62px;
  height: 45px;
  font-size: 15.63px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div:nth-of-type(4) > h3 {
  width: 251.03px;
  height: 69px;
  font-size: 15.5px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(5, 7, 60, 1);
}
div.flexbox3 > div:nth-of-type(4) > button {
  bottom: 220px;
}

//  neelesh end

//  soumya start
div.blue-container {
    width: 1860px;
    margin: auto;
    height: 774.75px;
    position: relative;
    // top: 5022.45px;
    left: 30px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background: rgba(5, 7, 60, 1);

    >div.blue-container-main {
        width: 1320px;
        height: 609.75px;
        position: absolute;
        top: 75px;
        left: 270px;
        gap: 0px;
        opacity: 0px;


        >div.traveler-saying {
            width: 550px;
            height: 281.25px;
            position: relative;
            top: 95.5px;
            gap: 0px;
            opacity: 0px;

            >div:nth-of-type(1) {
                width: 277.4px;
                height: 84px;
                top: 18px;
                left: 15px;
                gap: 0px;
                opacity: 0px;
                font-family: "Inter", sans-serif;
                font-size: 29.77px;
                font-weight: 700;
                line-height: 45px;
                text-align: left;
                color: white;


            }

            >div:nth-of-type(2) {
                width: 280px;
                height: 161.25px;
                top: 120px;
                left: -5px;
                // padding: 15px 53.5px 19.12px 20px;
                // gap: 0px;
                // opacity: 0px;


                >div:nth-of-type(1) {
                    width: 61.58px;
                    height: 75px;
                    top: 15px;
                    left: 20px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: "Inter", sans-serif;
                    font-size: 38.59px;
                    font-weight: 700;
                    line-height: 75px;
                    text-align: left;
                    color: white;

                }

                >div:nth-of-type(2) {
                    width: 206.5px;
                    height: 48.13px;
                    top: 94px;
                    left: 20px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: "Inter", sans-serif;
                    font-size: 14.41px;
                    font-weight: 400;
                    line-height: 28.13px;
                    text-align: left;
                    color: white;
                }

            }

            >div:nth-of-type(3) {
                width: 280px;
                height: 161.25px;
                position: absolute;
                top: 90px;
                left: 275px;
                // padding: 15px 137px 43.12px 20px;
                // gap: 0px;
                // opacity: 0px;


                >div:nth-of-type(1) {
                    font-family: "Inter", sans-serif;
                    font-size: 36.56px;
                    font-weight: 700;
                    line-height: 75px;
                    text-align: left;
                    width: 75.58px;
                    height: 75px;
                    top: 15px;
                    left: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: white;

                }

                >div:nth-of-type(2) {
                    width: 123px;
                    height: 28.13px;
                    top: 90px;
                    left: 20px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: "Inter", sans-serif;
                    font-size: 14.77px;
                    font-weight: 400;
                    line-height: 28.13px;
                    text-align: left;
                    color: white;
                }

            }

        }

        >div.trusty {
            width: 261.56px;
            height: 22.5px;
            position: absolute;
            top: 517.25px;
            left: 529.31px;
            gap: 0px;
            opacity: 0px;
            font-family: "Inter", sans-serif;
            font-size: 14.53px;
            font-weight: 400;
            line-height: 22.5px;
            text-align: center;
            color: white;

        }

        >div.company {
            width: 1290px;
            height: 30px;
            position: absolute;
            top: 579.75px;
            left: 15px;
            gap: 0px;
            opacity: 0px;
            display: flex;
            justify-content: space-between;

        }

        >div.great-work-container {
            border-radius: 24px;
            width: 520px;
            height: 342.25px;
            position: absolute;
            top: 15px;
            left: 785px;
            gap: 0px;
            opacity: 0px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);


            >div:nth-of-type(1) {
                width: 96.61px;
                height: 33.75px;
                position: absolute;
                top: 50px;
                left: 40px;
                gap: 0px;
                opacity: 0px;
                font-family: "Inter", sans-serif;
                font-size: 17.86px;
                font-weight: 500;
                line-height: 33.75px;
                text-align: left;
                color: rgba(235, 102, 43, 1);

            }

            >div:nth-of-type(2) {
                width: 417.23px;
                height: 104.38px;
                position: absolute;
                top: 102.75px;
                left: 40px;
                gap: 0px;
                opacity: 0px;
                font-family: "Inter", sans-serif;
                font-size: 14.88px;
                font-weight: 500;
                line-height: 28.13px;
                text-align: left;

            }

            >div:nth-of-type(3) {
                width: 440px;
                height: 81px;
                position: absolute;
                top: 231.25px;
                left: 40px;
                // padding: 21px 240.33px 0px 0px;
                gap: 0px;
                border: 1px 0px 0px 0px;
                opacity: 0px;
                border-top: 1px solid rgba(231, 230, 230, 1);

                >img {
                    width: 60px;
                    height: 60px;
                    top: 21px;
                    gap: 0px;
                    opacity: 0px;
                    position: absolute;

                }

                >div:nth-of-type(1) {
                    width: 119.67px;
                    height: 49.59px;
                    top: 26.21px;
                    position: absolute;
                    left: 80px;
                    padding: 2px 0px 0px 0px;
                    gap: 0px;
                    opacity: 0px;


                    >div:nth-of-type(1) {
                        width: 119.87px;
                        height: 21px;
                        top: 2px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 15.63px;
                        font-weight: 500;
                        line-height: 25.6px;
                        text-align: left;
                        color: rgba(5, 7, 60, 1);

                    }

                    >div:nth-of-type(2) {
                        width: 96.89px;
                        height: 24px;
                        top: 25.59px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: "Inter", sans-serif;
                        font-size: 14.65px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        color: rgba(5, 7, 60, 1);
                    }

                }
            }

            >div:nth-of-type(4) {
                width: 37px;
                height: 26px;
                position: absolute;
                top: 54.99px;
                left: 443px;
                padding: 0px 0.2px 0.2px 0px;
                gap: 0px;
                opacity: 0px;


            }


        }


    }

}

//  soumya end

//  ravi start

// ravi end