div.container1 {
  width: 1860px;
  height: 854px;
  top: 30px;
  left: 30px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  background-image: url(./assets/Headerbackground.svg);
}
div.container1 > div.header {
  width: 1920px;
  height: 89px;
  top: 30px;
  padding: 0px 300px 1px 300px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
div.container1 > div.header > div.header-container {
  width: 1320px;
  height: 88px;
  left: 300px;
  padding: 21.94px 15px 21.94px 15px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
}
div.container1 > div.header > div.header-container > div.logo-section {
  width: 808.84px;
  height: 44.12px;
  top: 21.94px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}
div.container1 > div.header > div.header-container > div.logo-section > div.logo {
  width: 167px;
  height: 32px;
  top: 6.06px;
  gap: 0px;
  opacity: 0px;
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text {
  width: 641.84px;
  height: 44.12px;
  left: 167px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(1) {
  width: 41.39px;
  height: 24px;
  position: relative;
  top: 8px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: rgb(235, 102, 43);
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(2) {
  width: 30.57px;
  height: 24px;
  position: relative;
  top: 8px;
  left: 59px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.41px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: rgb(255, 255, 255);
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(3) {
  width: 79.38px;
  height: 24px;
  position: relative;
  top: 8px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(4) {
  width: 64.77px;
  height: 24px;
  top: 8px;
  left: 39.7px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
  position: relative;
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(5) {
  width: 41.04px;
  height: 24px;
  top: 8px;
  left: 39.68px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.06px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
  position: relative;
}
div.container1 > div.header > div.header-container > div.logo-section > div.nav-text > div:nth-of-type(6) {
  width: 56.9px;
  height: 24px;
  top: 8px;
  left: 39.8px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
  position: relative;
}
div.container1 > div.header > div.header-container > div.header-right {
  width: 328.44px;
  height: 44px;
  top: 22px;
  left: 976.56px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}
div.container1 > div.header > div.header-container > div.header-right > div.usd {
  width: 91.86px;
  height: 42.12px;
  top: 0.94px;
  padding: 11px 19.8px 11.12px 20px;
  gap: 0px;
  border-radius: 200px 0px 0px 0px;
  opacity: 0px;
}
div.container1 > div.header > div.header-container > div.header-right > div.usd > div:nth-of-type(1) {
  width: 29.06px;
  height: 20px;
  top: 11px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 13.83px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
}
div.container1 > div.header > div.header-container > div.header-right > div:nth-of-type(2) {
  width: 51.63px;
  height: 24px;
  top: 7.94px;
  left: -30px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
  position: relative;
}
div.container1 > div.header > div.header-container > div.header-right > div:nth-of-type(3) {
  width: 18px;
  height: 18px;
  top: 1px;
  margin-left: 10px;
  padding: 12px 11.8px 12px 12px;
  gap: 0px;
  border-radius: 200px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 255, 255);
}
div.container1 > div.header > div.header-container > div.header-right > button {
  width: 83.31px;
  height: 44px;
  position: relative;
  left: 0px;
  padding: 12px 20.8px 12px 21px;
  gap: 0px;
  border-radius: 200px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 255, 255);
}
div.container1 div.direction {
  width: 409.98px;
  height: 166.05px;
  position: absolute;
  top: 378.97px;
  left: 1195.02px;
  gap: 0px;
  opacity: 0px;
}
div.container1 div.main-content {
  width: 769.98px;
  height: 340px;
  position: absolute;
  top: 272px;
  left: 300px;
  gap: 0px;
  opacity: 0px;
}
div.container1 div.main-content > div:nth-of-type(1) {
  width: 135.97px;
  height: 33.75px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 17.44px;
  font-weight: 500;
  line-height: 33.75px;
  text-align: left;
  color: rgb(255, 255, 255);
}
div.container1 div.main-content > div:nth-of-type(2) {
  width: 663.61px;
  height: 175px;
  top: 39.75px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 70px;
  font-weight: 600;
  line-height: 84px;
  text-align: left;
  color: rgb(255, 255, 255);
}
div.container1 div.main-content > div:nth-of-type(3) {
  width: 425.75px;
  height: 48.13px;
  top: 225.75px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.65px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: white;
}
div.container1 div.main-content > div:nth-of-type(4) {
  width: 165.66px;
  height: 62px;
  top: 278px;
  left: 15px;
  padding: 21px 35.8px 21px 36px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
div.container1 div.main-content > div:nth-of-type(4) > div:nth-of-type(1) {
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  width: 68.86px;
  height: 20px;
  top: 21px;
  left: 36px;
  gap: 0px;
  opacity: 0px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 21px 35.8px 21px 36px;
  border-radius: 12px;
}/*# sourceMappingURL=styles.css.map */